<ion-content [fullscreen]="true">
  <div class="min-h-screen flex items-center justify-center p-2 font-sans">
    <div class="w-full max-w-2xl  bg-white p-8 rounded-xl shadow-lg">
 <ion-title class="text-center"> {{readmeData?.titlePrefix}} {{readmeData?.name}} </ion-title>
 <p class="text-gray-700 text-sm text-center mt-1"> {{readmeData?.subtitle}}</p>
 <div >
  <div class="mt-6 mb-6">
     <p class="text-gray-900"> {{readmeData?.currentWork}} {{readmeData?.curentWorkProject}} </p>

  </div>
   
    <div class="mt-6 mb-6"><p class="text-gray-900"> {{readmeData?.collaboration}} {{readmeData?.collaborationProject}} </p></div>
    <div class="mt-6 mb-6"><p class="text-gray-900"> {{readmeData?.funFact}} {{readmeData?.funFactProject}} </p></div>
 </div>
 </div>
  </div>
 

</ion-content>